In [2]:
import pandas as pd
import numpy as np
import os
import os.path as op

In [4]:
datadir = "/data/RocklandSample/assessments/"
files = sorted([op.join(datadir, f) for f in os.listdir(datadir) if f.endswith('csv')])
files

['/data/RocklandSample/assessments/3760_Age_20140917.csv',
 '/data/RocklandSample/assessments/3760_HT_WT_Vitals_20140917.csv',
 '/data/RocklandSample/assessments/3760_MRI_Log_Sheet_20140917.csv',
 '/data/RocklandSample/assessments/scan_visit_list.csv']

In [7]:
age_df = pd.read_csv(files[0])
htwt_df = pd.read_csv(files[1])
log_df = pd.read_csv(files[2])
visits_df = pd.read_csv(files[3])

In [43]:
multi_df = pd.DataFrame(columns=["Anonymized ID", "Study Codes", "Visit Codes", "DWI and T1w"])
count = 0
for aid in visits_df['Anonymized ID'].unique():
    tmpdf = visits_df.loc[visits_df['Anonymized ID'] == aid] 
    if len(tmpdf) > 1:
        ims = [tmpdf["DWI"].unique, tmpdf["T1w"].unique]
        multi_df = multi_df.append({"Anonymized ID": aid,
                                    "Study Codes": tmpdf["Study Code"].unique(),
                                    "Visit Codes": tmpdf["Visit Code"].unique(),
                                    "DWI and T1w": all(ims)}, ignore_index=True)
        count += 1
print(count)

290

    Anonymized ID Study Codes Visit Codes DWI and T1w
0       A00018030   [CLG, DS]  [4, 4R, 2]        True
1       A00027159   [CLG, DS]  [4, 4R, 2]        True
2       A00027167   [CLG, DS]  [4, 4R, 2]        True
3       A00027439   [CLG, DS]  [4, 4R, 2]        True
4       A00028185   [DS, NFB]  [2, 2R, 3]        True
..            ...         ...         ...         ...
285     A00066860   [CLG, DS]     [2R, A]        True
286     A00066926       [NFB]      [3, A]        True
287     A00072203       [NFB]      [3, A]        True
288     A00073600       [NFB]      [3, A]        True
289     A00073677  [ALG, NFB]      [A, 3]        True

[290 rows x 4 columns]

In [25]:
len(visits_df.loc[visits_df['Anonymized ID'] == 'A00013809'])

1

In [40]:
visits_df

     Anonymized ID Study Code Visit Code  T1w  DWI
0        A00008326         DS          2    1    1
1        A00008399         DS          2    1    0
2        A00010893         DS          2    1    1
3        A00013809         DS          2    1    1
4        A00018030        CLG          4    1    1
...            ...        ...        ...  ...  ...
1274     A00073705         DS          A    1    1
1275     A00073942        ALG          A    1    1
1276     A00073953        ALG          A    1    1
1277     A00074000        NFB          A    1    1
1278     A00074034        CLG          A    1    1

[1279 rows x 5 columns]